body {
  margin: 0;
  padding: 0;
}

/**
  Hides elements from visual users that are not intended to be seen
  but allows for screen readers to be able to read them.
**/
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.Link {
  text-decoration: none;
}
